
    <!-- MAIN -->
    <main role="main">
      <!-- Main Carousel -->
      <!-- Section 2 -->
      <section class="section background-primary text-center">
        <div class="line">
          <div class="s-12 m-10 l-8 center">
            <h2 class="headline text-thin text-s-size-30">29 States with 29 Meals!</h2>
            <p class="text-size-20">We are just another food manufacturer who promise to give you quality food, but that food will be from the moments of history for you. A bite of nostalgia, a sip of your hometown, a burp of your memories and a promise of not home made but home like food. India is having one of the widest range of cuisines amongst the world, and we want to serve you all, 29 STATES->29 MEALS. At ThekaDesiKhana we explore the parts of India to dug out treasures of taste and then serve you with pleasure. Also, forgot to mention that all this is available at the most affordable prices.</p>
          </div>
        </div>  
      </section>
      
      <!-- Section 1 -->
      <section class="section background-white"> 
        <div class="line">
                  <h2 class="text-thin headline text-center text-s-size-30 margin-bottom-50">About Us <span class="text-primary"></span></h2>
        
          <div class="margin">
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <img class="margin-bottom" src="resources/img/manoj.jpg" alt="">
              <h2 class="text-thin">Manoj Agrawal</h2>
              <p>Founder Of Clean Uncle, Ex TCS</p> 
              <a class="text-more-info text-primary-hover" href="https://in.linkedin.com/in/manoj-agarwal-a044053b">Read more</a>                
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <img class="margin-bottom" src="resources/img/ankit.jpg" alt="">
              <h2 class="text-thin">Anit Gupta</h2>
              <p>Ex MicroSoft, Ex VMware</p> 
              <a class="text-more-info text-primary-hover" href="https://www.linkedin.com/in/ankit-gupta-ab666316">Read more</a>                
            </div>
            <div class="s-12 m-12 l-4 margin-m-bottom">
              <img class="margin-bottom" src="resources/img/ashu.jpg" alt="">
              <h2 class="text-thin">Ashu Saxena</h2>
              <p>Ex GE , Ex Vmware</p> 
              <a class="text-more-info text-primary-hover" href="https://www.linkedin.com/in/ashu-saxena-73421bb/">Read more</a>                
            </div>
          </div>
        </div>
      </section>
      
     
      
    
      
    </main>
    
  