
    <!-- MAIN -->
    <main role="main">
     <section class="section background-dark">
        <div class="line">
          <div class="carousel-fade-transition owl-carousel carousel-main carousel-nav-white carousel-wide-arrows">
            <div class="item">
              <div class="s-12 center">
                <img src="resources/img/special.jpg" alt="">
               
              </div>
            </div>
        
          </div>  
        </div>
      </section>      <!-- Section 2 -->
      <section class="section background-primary text-center">
        <div class="line">
          <div class="s-12 m-10 l-8 center">
            <h2 class="headline text-thin text-s-size-30">29 States with 29 Meals!</h2>
            <p class="text-size-20">We are just another food manufacturer who promise to give you quality food, but that food will be from the moments of history for you. A bite of nostalgia, a sip of your hometown, a burp of your memories and a promise of not home made but home like food. India is having one of the widest range of cuisines amongst the world, and we want to serve you all, 29 STATES->29 MEALS. At ThekaDesiKhana we explore the parts of India to dug out treasures of taste and then serve you with pleasure. Also, forgot to mention that all this is available at the most affordable prices.</p>
          </div>
        </div>  
      </section>
      
    </main>
    
  