
    <!-- MAIN -->
    <main role="main">
    
    <section class="section background-dark">
        <div class="line">
          <div class="carousel-fade-transition owl-carousel carousel-main carousel-nav-white carousel-wide-arrows">
            <div class="item">
              <div class="s-12 center">
                <img src="resources/img/cp.jpg" alt="">
               
              </div>
            </div>
        
          </div>  
        </div>
      </section>
      
      <section class="section background-primary text-center">
        <div class="line">
          <div class="s-12 m-10 l-8 center">
            <h2 class="headline text-thin text-s-size-30">Corporate Services</h2>
            <p class="text-size-20">Providing quality food in low price and right next to your office desks. 
In the pressure environment of jobs, and release deadlines, a good meal 
always acts as a rejuvenator. This is what we aim to provide on every 
possible cubicle chair. A sigh of relief, a burp of taste and a sleep of satisfaction.</p>
          </div>
        </div>  
      </section>
      
      <!-- Section 1 -->
  
      
     
      
    
      
    </main>
    
  