
/************** Font Declarations *********************************/
 
@font-face {src: url("http://thekadesikhana.com/resources/fonts/Kalimati.ttf");font-family: "kalimati";}
 
/*****************************************************************/


body {
	margin-top: 50px;
	/*margin-bottom: 50px;*/
	background: none;
}


.landing-image {
    background: url('http://thekadesikhana.com/resources/img/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.kalimati{
	font: 1.5em 'kalimati';
}

.kalimati-sm{
	font:  0.75em 'kalimati';
	color: #fff;
	margin: -20px -20px;
    float: right;
}



.gly-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}



.navbar{
	
	-webkit-box-shadow: 0px 4px 5px 0px rgba(231,166,26,1);
-moz-box-shadow: 0px 4px 5px 0px rgba(231,166,26,1);
box-shadow: 0px 4px 5px 0px rgba(231,166,26,1);
border-bottom:1px solid #000;
}
.tdk-nav{
	background-color:#000;
}

.navbar-brand {
	padding:0px;
}

.navbar-brand {
        min-height:60px ;
		/*width:83%;*/
    }
	
.logo-diamond-left
{
	
}

.logo-diamond-right
{
	
}

.tdk-yellow

{
	color:rgb(255,204,0);
}



/*not in use*/
.landing-image1 {
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://thekadesikhana.com/resources/img/landing1.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	 
}

.TDK-tagline {
    background: url('http://thekadesikhana.com/resources/img/bg2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	background-size: 75% 75%;
	padding-bottom:25em;
}
 


#menu{
	
	margin-top:5.5em;
	margin-bottom:7em;
	
}

.menu-story{
	padding:5px;
}
}
#office{
	 /**/
	 width:80%;
	 margin:0 auto;
}


.office-parent{
	background-color:rgb(255,204,0);
	-moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
	height: 4.5em;
	padding:5px 10px;
	border-radius: 5px;
	 
}
    
.office-child{
	background-color:rgb(0,0,0);
	 height: 3.9em;
	border-radius: 5px;
	padding:6px;
	
	
}

.office-child>h4 {
	color:white;
	
}
	
 	
 h2.office-ontop {
    position: relative;
     
    z-index: 2;
	color:black;
}
 
.menu-story 
{
	background-color:rgb(0,0,0);
	-moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    filter: alpha(opacity=70);
	color:white;
	border-radius: 5px;
	
}
    
	
#team{
	background-color:#fff;
	padding-top:5em;
}	

#dish	{
	background-color:#fff;
	padding-top:10em;
}	

#contact	{
	background-color:#fff;
	padding-top:50px;
}	

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
/* media queries*/

@media (min-width: 320px) {
    .navbar-brand {
        min-height:60px ;
		/*width:83%;*/
    }
}
 
 
 @media (min-width: 320px) {
   .office-parent-no-border-radius1{
        border-top-right-radius:0px;
		border-bottom-right-radius:0px;
		/*width:83%;*/
    }
	.office-parent-no-border-radius2{
        border-top-left-radius:0px;
		border-bottom-left-radius:0px;
		/*width:83%;*/
    }
}
 
 
 @media (min-width: 700px) {
   .no-padding-right{
        padding-right:0px;
		/*width:83%;*/
    }
}

@media (min-width: 700px) {
   .no-padding-left{
        padding-left:0px;
		/*width:83%;*/
    }
}
 
 
 @media (max-width: 320px) {
    .navbar-brand {
        min-height:50px ;
		padding:10px 5px;
		/*width:83%;*/
    }
}
 
 @media (max-width: 320px) {
     .kalimati{
	font: 0.85em 'kalimati';
}
}
 
 @media (max-width: 320px) {
     .kalimati-sm{
	font:  0.6em 'kalimati';
	color: #fff;
	margin: -15px -20px;
    float: right;
}
}

@media (max-width: 320px) {
     #office{
		 width:95%;
	 
}
}
 

 